<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<style type="text/css">
tr:nth-child(even) { background-color: #FFFFFF; }
tr:nth-child(odd) { background-color: #F1F1F1; }
table, th, td { border: 1px solid black; }
</style>
</head>

<body>

<table style="margin: 0px auto">
<caption><h2>{{table_caption}}</h2></caption>
<tr>
<th>Index</th>
{% for header in table_headers %}
<th>{{header}}</th>
{% endfor %}
</tr>
{% for table_row in table_rows %}
<tr>
<td>{{forloop.counter}}</td>
{% for cell in table_row %}
<td>{{cell}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

</body>

</html>
